/* Import DynaPuff font */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');



/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global body styles */
body {
  font-family: 'DynaPuff', cursive;
  background: linear-gradient(135deg, #ffe6ef, #ffd1e3);
  overflow-y: auto;
  overflow-x: hidden;
}
